---
title: Matt Payne's simple blog
layout: layouts/home.njk
description: Notes about programming etc
image: img/avatar.png
date: 29-Dec-2020
---

<p>
  Simple hobby blog about programming and some of the other things I enjoy.
</p>

<div id="posts">
  <h3>Posts</h3>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
